body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 4.8rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #75cfb8;
    position: relative;
    padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.top-cloud {
    position: absolute;
    right: 8px;
    bottom: 880px;
}

.bottom-cloud {
    position: absolute;
    left: 30px;
    bottom: 800px;
}